name: Build and push to Docker Hub

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:  # Manual trigger

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write  # Needed for git push
    defaults:
      run:
        working-directory: backend

    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '23'

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v4

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and push
      run: |
        chmod +x build.sh gradlew
        ./build.sh
